form
{
     margin-top: 20px;
     margin-left: 550px;
}
h2
{
    margin-top: 20px;
    margin-left: 620px;
    font-family: sans-serif;

}
label
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button
{
    margin-left: 100px;
}