#searchBar
{
    text-align: center;
    margin-top: 100px;
    margin-left: 500px;
}
span
{
    font-size: 25px;
    padding: 10px;
}
 body
{
    background-image: url("/assets/background.png");
    width: 101%;
    height: 500%;
} 